body , h1 , h2 , p{
    margin: 0;
    padding: 0;
    font-family: "Inter",sans-serif;
}

body{
    background-color: #f4f6f8;
    color: #333;
}

.header{
    background-color: #37d184;
    color: white;
    padding: 20px 40px 20px 40px;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0,0,0,0.1);
}

header h1{
    font-size: 32px;
    margin-bottom: 5px;
}

header p{
    font-size: 16px;
}

.container{
    padding: 40px;
}